html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 260px;
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 5;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    #46B6AC;
}
